      <div class="weather__widget" data-responsive-hide>
        <div class="weather_icon"><img id="icon" src="" alt=""></div>
        <div class="weather__data">
          <div id="weather_status" class="weather_status" aria-label=""></div>
          <div class="weather_temperature"><span id="show_temperature" aria-label=""></span>&deg;C</div>
          <input type="text" id="city" class="form-control weather_city" placeholder="" aria-label="" onfocus="this.value=''">
        </div>
      </div>
